.profileWrapper {
  display: flex;
}

.leftSide {
  width: 30%;
}
.rightSide {
  width: 70%;
}

.rightSide .nameAndStatus{
  margin: 20px;
}

.fullName {
  font-size: 36px;
}

.status {
  opacity: 0.7;
}

.contactsList {
  list-style: none;
  display: block;
  padding-left: 10px;
}

.contactService {
  display:block;
  width: 100px;
}

.avatar {
  max-width: 200px;
}


.descriptionButton {
  display: inline-block;
  cursor: pointer;
  border: 1px solid black;
  margin: 20px auto;
  padding: 2px;
  border-radius: 3px;
} 