.header img{
  width: 100%;
  height: 120px;
}

.descriptionBlock {
  display: flex;
  padding: 10px;
}

.description .fullName {
  font-size: 36px;
}
.description .status {
  opacity: 0.7;
}

.contactsList {
  list-style: none;
}

.contactService {
  display:inline-block;
  width: 100px;
}